.modal-div{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
        .container-modal{
                width: 50%;
                // max-height: 60%;
                height: fit-content;
                box-sizing: border-box;
                padding: 45px;
                // padding-bottom: 35px;
                border-radius: 25px;
                background-color: rgba(250,250,250,0.5);
                backdrop-filter: blur(8px);
                .header-div{
                    // padding: 10px;
                    padding-right: 15px;
                    box-sizing: border-box;
                    display: flex;
                    justify-content: right;
                    .close-bt{
                        font-size: 40px;
                        color: green;
                        &:hover{
                            cursor: pointer;
                            color: rgb(0, 187, 0);
                            transition: 0.6s;
                        }
                    }
                }

                .center-modal-div{
                    display: flex;
                    // height: 70%;
                    height: 100%;
                    // width: 100%;
                    margin-top: -20px;
                    justify-content: center;
                    align-items: center;
                    .modal-form{
                        width: 70%;
                        display: flex;
                        flex-direction: column;
                        .flex-option-div{
                            display: flex;
                            flex-wrap: wrap;
                            gap: 40px;
                            .left-side{
                                display: flex;
                                flex-direction: column;
                            }
                            .right-side{
                                display: flex;
                                flex-direction: column;

                            }
                        }
                        label{
                            font-size: 30px;
                            margin-bottom: 15px;
                            color: green;
                            letter-spacing: 2px;
                            font-weight: bold;
                        }
                        .input-field{
                            width: 100%;
                            margin-bottom: 25px;
                            padding: 10px;
                            box-sizing: border-box;
                            border: 1px solid green;
                            font-size: 20px;
                            outline: none;
                            color: green;
                            background-color: rgba(250,250,250,0.5);
                            &:focus{
                                outline: 3px solid green;
                            }
                            &::placeholder{
                                font-size: 15px;
                            }
                        }
                        .modal-dubmit-bt{
                            padding: 20px;
                            margin-top: 20px;
                            font-size: 20px;
                            letter-spacing: 3px;
                            border:  2px solid green;
                            background-color: green;
                            border-radius: 10px;
                            color: white;
                            font-weight: bold;
                            &:hover{
                                cursor: pointer;
                                border: 2px solid green;
                                background-color: rgba(250,250,250,0.1);
                                transition: 0.6s;
                                color: green;
                            }
                        }
                        .modal-footer{
                            // background-color: blue;
                            position: fixed;
                            bottom: 20px;
                            left: 0;
                            display: flex;
                            justify-content: right;
                            padding-right: 25px;
                            box-sizing: border-box;
                            width: 100%;
                            .info-icon{
                                color: green;
                                font-size: 25px;
                                &:hover{
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
                }
}
@media screen and (max-width:875px) {
        .modal-div{
            backdrop-filter: blur(3px);
            .container-modal{
                width: 90%;
                // height: 80%;
                .center-modal-div{
                    .modal-form{
                            label{
                                margin-top: 10px;
                            }
                        .input-field{
                            margin-bottom: 0;
                        }
                        .flex-option-div{
                            gap: 0;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:520px) {
    .modal-div{
        backdrop-filter: blur(3px);
        .container-modal{
            // width: 90%;
            height:fit-content;
            padding-bottom: 35px;
            .modal-footer{
                width: fit-content;
                padding-bottom: 15px;
                box-sizing: border-box;
            }
        }
    }
}