.sorry-div{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image:url('../../assests/Untitled-1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    pointer-events: none;
    left: 0;
    z-index: 2000;
    .sorry-container{
        pointer-events: all;
        width: 80%;
        .heading-sorry{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 170px;
                animation: rotate 2s linear infinite; 
            }
           
            .sorry-text{
                font-family: 'Tangerine', cursive;
                font-size: 8em;
                font-weight: bold;
                color: white;
            }
        }
    }
}
  @keyframes rotate{
    to{ transform: rotate(360deg); }
  }