*{
  margin: 0;
  padding: 0;
}
.App {
  /* text-align: center; */
  background-image:url('./assests/Untitled-1.png');
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  padding: 0 40px;
  box-sizing: border-box;
  display: flex;
}
.App .left-div{
  flex: 1;
}
.App .center-div{
  flex: 3;
}
.App .right-div{
  flex: 1;
}
.setting-icon{
  position: fixed;
  bottom: 15px;
  left: 15px;

}
.setting-icon #set-icon{
  font-size: 40px;
  cursor: pointer;
}