::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    // box-shadow: inset 0 0 5px red; 
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: green; 
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #1aff0e; 
  }
.guessed-number{
    position: fixed;
    // background-color: blue;
    width: 100vw;
    height: 100vh;
    display: flex;
    padding-left: 65%;
    box-sizing: border-box;
    padding-top: 17%;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    .container-guessed{
            pointer-events: all;
            width: 250px;
            height: 300px;
            color: white;
            text-align: center;
            background-color: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(5px);
            border-radius: 3px;
            overflow: auto;
            .guessed-text{
                letter-spacing: 1px;
                user-select: none;
                cursor: pointer;
                margin-bottom: 5px;
            }
            .map-div{
                    .guess-no{
                        font-size: 20px;
                        font-weight: bold;
                        user-select: none;
                        line-height: 32px;
                        // text-shadow: 10px 10px 10px gray;
                    }
            }
    }
}
@media screen and (max-width:875px) {
    .guessed-number{
      padding-right:10px;
      box-sizing: border-box;
      .container-guessed{
        backdrop-filter: blur(0px);
        background-color: transparent;
        .guessed-text{
            font-size: 15px;
        }
        }
    }
}